body{
    background-image: linear-gradient(black, #330033);
    
}

p{
    color: white;
    font-family: 'Open Sans', sans-serif; 
}

li{
    color: white;
    font-family: 'Open Sans', sans-serif; 
}

h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 400%;
    text-align: center;
}

h4{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h3{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 250%;
}

#mainh{
    margin-left: 5%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 400%;
    width: 10%;
}

#headdiv{
    background-image: linear-gradient(black, #330033);
}

#name{
    margin-left: 5%;
    margin-right: 60%;
}

.left{
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: left;

}

.nav{
    border: 3px asoid green;
    margin-right: 5%;
    float: right;
    position: relative;
    top: -170px;
}

.nav li{
    display: inline;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}

a:hover{
    text-decoration: underline;
}

ul a{
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    word-spacing: 5%;
}

.header{
    text-align: left;
    color: #CC00CC;
}

main{
    text-align: left;
}

footer{
    text-align: center;
    background-image: linear-gradient(black, #330033);
}